#############################
######  Desenvolvimento #####
#############################
CONTAINER_REF=kehila
CONTAINER_BACKEND_PORT=3000
CONTAINER_SOCKET_PORT=4000
CONTAINER_POSTGRES_PORT=5432
CONTAINER_RABBITMQ_PORT=15672
CONTAINER_METABASE_PORT=5000

##### Dados Iniciais
SYSTEM_USER_UUID=b5e0260e-dbad-45c8-9ea9-40b53acfab11
SYSTEM_COMPANY_UUID=0c3256f8-ae33-4dd4-9fc7-699567761f20
SYSTEM_URL_API=http://localhost:3000/
SYSTEM_URL_APP=http://localhost:9000

######### Banco de Dados ##########
DB_DEFAULT_DRIVER=postgres
DB_DEFAULT_HOST=host.docker.internal
DB_DEFAULT_PORT=5432
DB_DEFAULT_NAME=kehila
DB_DEFAULT_USENAME=postgres
DB_DEFAULT_PASSWORD=postgres